@model Lab4.Models.Employee

@{
    ViewData["Title"] = "Детали сотрудника";
}

<h1 class="text-danger">Детали сотрудника</h1>

<div class="card mt-4 bg-light">
    <div class="card-body">
        <h4 class="card-title">@Model.FirstName @Model.LastName</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10">@Model.EmployeeId</dd>
            <dt class="col-sm-2">Имя</dt>
            <dd class="col-sm-10">@Model.FirstName</dd>
            <dt class="col-sm-2">Фамилия</dt>
            <dd class="col-sm-10">@Model.LastName</dd>
            <dt class="col-sm-2">Позиция</dt>
            <dd class="col-sm-10">@Model.Position</dd>
        </dl>
    </div>
</div>

<a asp-action="Index" class="btn btn-secondary mt-2">
    <i class="fas fa-arrow-left"></i> Вернуться к списку
</a>